body {
    margin: 0;
    font-family: Arial W01, arial, '​sans-serif';
}

.firstHeader {
    background-color: #f0f0f0;
    height: 50px;

    ul {
        display: flex;
        justify-content: flex-end;
        background-color: #f0f0f0;
        list-style: none;
        font-size: 12px;
        line-height: 1.4;
        margin: 0;
        padding: 0;

        li {

            a {
                display: block;
                padding: 15px 12px;
                color: #404040;
                transition: color .3s ease-in-out;
                cursor: pointer;



                span {
                    color: #404040;
                    text-transform: uppercase;
                    letter-spacing: .5px;
                }
            }
        }
    }
}

.secondHeader {
    height: 105px;
    padding: 0 120px;
    display: flex;
    border-bottom: 1px solid #d6f2dc;

    .headerImg {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            height: 50px;
        }

        span {
            margin-top: 2px;
            color: #8ace99;
            letter-spacing: 3px;
            font-size: 17px;
        }
    }
}


.tab {
    display: flex;
    align-items: center;
    margin-left: 25px;

    ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        font-size: 16px;
        margin: 0;
        padding: 0;

        li {

            a {
                display: block;
                padding: 15px 12px;
                color: #404040;
                transition: color .3s ease-in-out;
                cursor: pointer;



                span {
                    color: #404040;
                    text-transform: uppercase;
                    letter-spacing: .5px;
                }

                span:hover {
                    color: #8ace99
                }
            }


        }
    }
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
}

#diff-main {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 80%;
    height: 400px;
}

.banner-cont {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .product-dev {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #fcfcfc;

        .img-card {
            height: 78%;

            img {
                height: 100%;
            }
        }

        .imgTitle {
            margin-top: -13px;
            font-size: 22px;
            font-weight: bolder;
            margin-bottom: 10px;
        }

        .imgSubtitle {
            width: 70%;
            text-align: center;
            font-size: 13px;
            color: #6f6f6f;
        }
    }

}


#small-product,
#motive,
#products {
    width: 74%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.dot-line {
    margin-top: 45px;
    margin-bottom: 6px;
    width: 100%;
    position: relative;

    div {
        border-bottom: 3px dotted #8ace99;
    }

    span {
        position: absolute;
        left: calc(50% - 85px);
        margin-top: -18px;
        background-color: #fff;
        padding: 0 20px;
        font-weight: 600;
        font-size: 25px;
        width: 170px;
        text-align: center;
    }
}


.product-10-cont {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}

.product-dev-10 {
    display: flex;
    justify-content: space-between;
}

.img-card-10 {
    width: 48%;

    img {
        width: 100%;
        height: 100%;

    }
}

.imgdetial-10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    width: 48%;

    .title {
        letter-spacing: 1px;
        text-align: left;
        color: #222;
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .desp {
        font-size: 16px;
        color: #3c3c3c;
    }
}

#contact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    div.contact-cont {
        width: 31rem;
        height: 30rem;
        border-radius: 6%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 7px;

        h3 {
            text-align: center;
        }

        div.fromGroup {
            display: flex;
            flex-direction: column;
            padding: 0 24px;
            gap: 8px;
            margin-bottom: 14px;

            input {
                display: block;
                height: 24px;
                padding: 7px;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            }
        }
    }
}